<div class="container-fluid" class="main-holder">
    <div class="row">
        <div class="col-12 col-lg-4 align-self-center">
            <div style="color:white">
                <div>
                    WHATSAPP
                </div>
                <div style="color:#90969a;font-size:14px">
                    +56 9 47388492
                </div>

                <div style="margin-top:10px">
                    EMAIL
                </div>
                <div style="color:#90969a;font-size:14px">
                    Contacto@sexydoll.cl
                </div>
            </div>
        </div>

        <div class="d-none d-lg-block col-12 col-lg-4 align-self-center">
            <img src="assets/webpay.png" style="width:150px">
        </div>

        <div class="col-12 col-lg-4 align-self-center">

            <div class="d-none d-lg-block" style="color:white">

                <div style="margin-bottom:10px">
                    SIGUENOS
                </div>

                <div style="display:flex">
                    <i class="fab fa-facebook-f" style="font-size:24px;margin-right:10px;color:#90969a"></i>
                    <i class="fab fa-instagram" style="font-size:24px;color:#90969a"></i>
                </div>

            </div>

            <div style="color:white;margin-top:20px">

                <div style="margin-bottom:10px">
                    SUSCRIBIRSE AL BOLETÍN
                </div>

                <div style="display:flex">
                    <div
                        style="color:#90969a;border:1px solid #353a3e;font-size:14px;padding:10px;padding-left:10px;padding-right:10px;width:230px">
                        Dirección de email
                    </div>
                    <div
                        style="border:1px solid #353a3e;font-size:13px;border-left:0;padding:10px;padding-left:10px;padding-right:10px">
                        SUBSCRIBE
                    </div>
                </div>

            </div>
        </div>

        <div class="d-block d-lg-none col-12">
            <img src="assets/webpay_mobile.png" style="width:150px;margin-top:20px">
        </div>

        <div class="col-12">
            <div class="copy-right">
                <span class="d-none d-lg-block">
                    Todo los derechos reservados ToyLover Ltda. para OhMyLove! 2019
                </span>
                <span class="d-block d-lg-none">
                    ©Copyright 2019. SEXY DOLL
                </span>
            </div>
        </div>

    </div>

</div>