.img-opt {
    margin-bottom:10px;
    height:95px;
    width:93px;
    margin-right:5px;
    object-fit:cover;
    border-radius:4px;
    padding:2px;
    border: 2px solid #eee;
}

.img-opt-active {
    border:2px solid #222;
}

.top {
    display:flex;
    align-items:flex-end;
}

a {
    cursor: pointer;
}

a:hover {
    color: coral;
}

.mesure {
    cursor: pointer;
    margin-top:10px;
    text-transform:uppercase;
    color:#999;
    font-size:12px;
}

.mesure:hover {
    color: coral;
}

.button-blog {
    cursor: pointer;
    display:inline-block;
    background:#E1E6EA;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    color:#777;
    font-size:12.5px;
    font-family: 'Oswald', sans-serif;
}

.button-blog:hover {
    color: #444;
}

.button {
    cursor: pointer;
    display:inline-block;
    background:whitesmoke;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    color:#444;
    font-size:14px;
    font-family: 'Oswald', sans-serif;
}

.button-active {
    background:slateblue;
    color: white;
}

.img-carrusel {
    height:300px;
    width:100%;
    object-fit:cover;
    cursor: pointer;
}

.img-carrusel-active {
    box-shadow: 0 10px 20px -5px rgba(115,115,115,0.75);
}


.holder {
    cursor: pointer;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(30, 30, 30, 0)
}

.holder:hover {
    animation: holderOn 0.4s ease forwards;
}

.holder-img {
    padding-right:20px;
}

.main-holder {
    padding:50px;
}

.counter-left {
    font-size:22px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    color:#555;
    border:1px solid #eee;
}

.counter-right {
    font-size:22px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    color:#555;
    border:1px solid #eee;
}

.counter-center {
    padding:5px;
    padding-top:7px;
    padding-left:20px;
    padding-right:20px;
    border:1px solid #eee;
    border-left:0;border-right:0;
}

.add-cart-text {
    margin-left:5px;
    font-family: 'Oswald', sans-serif;
}

.add-cart-button {
    margin-right:5px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    color:white;
    background:slateblue;
    display:flex;
    align-items:center;
}

.heart {
    padding:10px;
    border:1px solid #eee;
    font-size:22px;
}

.cart-holder {
    display:flex;
}

.zona-productos-rel {
    background:#FBFBFB;
    padding:50px;
}

.nav-text {
    font-family: 'Oswald', sans-serif;
    margin-top:100px;
    padding:0px;
    padding-left:50px;
    color:#222;
    font-weight:700;
    font-size:11px;
}

@media only screen and (max-width: 600px){
    .img-carrusel {
        height: 200px
    }
    .main-holder {
        padding:0
    }
    .add-cart-text {
        font-size:15px;
    }
    .add-cart-button {
        padding:4px;
        padding-left:10px;
        padding-right: 10px;
    }
    .heart {
        font-size:18px;
    }
    .cart-holder {
        justify-content:center;
    }
    .zona-productos-rel {
        padding: 20px;
        padding-bottom: 50px;
    }
    .nav-text {
        padding-left: 20px;
    }
}

.fade {
    opacity:1;
}
.fade:hover {
    animation: fadeout 0.4s ease forwards;
}

@keyframes holderOn {
    from {
        background-color: rgba(30, 30, 30, 0);
    }
    to {
        background-color: rgba(30, 30, 30, 0.1);
    }
}

@keyframes fadeout {
    from {
        opacity: 0.5;
    }
    to {
      opacity: 1;
    }
}