<div class="nav-text">
    HOME
    <span style="margin-left:5px;margin-right:5px">></span>
    TIENDA
    <span style="margin-left:5px;margin-right:5px">></span>
    TODAS NUESTRAS MUÑECAS, 153 SEXY DOLL
    <span style="margin-left:5px;margin-right:5px">></span>
    MERIAM
</div>
<hr>
<div class="container-fluid" class="main-holder">
    <div class="row">
        <div class="col-12 col-lg-9">

            <div #main class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <img src="assets/01.jpg" style="width:100%">
                        <div style="margin-top:10px;display:flex;justify-content:space-between;flex-wrap:wrap;">
                            <img src="assets/01.jpg" style="width:23%;height:100px;object-fit:cover;">
                            <img src="assets/01.jpg" style="width:23%;height:100px;object-fit:cover">
                            <img src="assets/01.jpg" style="width:23%;height:100px;object-fit:cover">
                            <img src="assets/01.jpg" style="width:23%;height:100px;object-fit:cover">
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="d-block d-lg-none" style="height:40px"></div>

                        <h3>Meriam</h3>
                        <div style="display:flex;color:#999;font-size:14px;align-items:center;">
                            <div style="display:flex;font-size:14px">
                                <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                                <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                                <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                                <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                                <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            </div>
                            <div style="margin-left:5px;color:#bbb">
                                (No hay valoraciones aún.)
                            </div>
                        </div>
                        <div style="margin-top:10px;margin-bottom:10px;font-size:21px;color:slateblue;font-weight:700">
                            $1.430.000 – $1.500.000
                        </div>
                        <div style="color:#777">
                            SKU: N/D
                        </div>
                        <div style="color:#777">
                            Categoría: <span style="color:slateblue">153 cm Sexy Doll</span>
                        </div>

                        <hr>

                        <div class="container">
                            <div *ngFor="let option of options; let i = index" class="row">
                                <div class="col-4">
                                    <div style="font-weight:500;">
                                        {{option.tipo}}:
                                    </div>
                                </div>
                                <div class="col-8" style="display:flex;flex-wrap:wrap;">
                                    <ng-container *ngFor="let item of option.items;let j = index">

                                        <img (click)="onSelectOption(i,j)" [src]="item.img.url" class="img-opt"
                                            [ngClass]="{'img-opt-active': item.selected}">

                                    </ng-container>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-12 col-lg-6 offset-lg-6">

                        <hr style="margin-top:25px;margin-bottom:35px">

                        <div #myDiv class="cart-holder">
                            <div style="display:flex;font-size:18px;margin-right:5px">
                                <div class="counter-left">
                                    -
                                </div>
                                <div class="counter-center">
                                    1
                                </div>
                                <div class="counter-right">
                                    +
                                </div>
                            </div>

                            <div class="add-cart-button">
                                <img src="assets/bag2.svg" style="width:20px">
                                <div class="add-cart-text">
                                    AÑADIR AL CARRITO
                                </div>
                            </div>

                            <div class="heart">
                                <i class="far fa-heart" style="color:#777"></i>
                            </div>

                        </div>


                        <div style="margin-top:25px;display:flex;align-items:center">
                            <div style="color:#777;margin-right:15px;font-weight:500;font-size:13px;">
                                SHARE
                            </div>
                            <div style="display:flex">
                                <div
                                    style="margin-right:7px;font-size:16px;width:30px;height:30px;border-radius:50%;background:#555;color:white;display:flex;align-items:center;justify-content:center">
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                                <div
                                    style="margin-right:7px;font-size:16px;width:30px;height:30px;border-radius:50%;background:#555;color:white;display:flex;align-items:center;justify-content:center">
                                    <i class="fab fa-instagram"></i>
                                </div>
                                <div
                                    style="margin-right:7px;font-size:16px;width:30px;height:30px;border-radius:50%;background:#555;color:white;display:flex;align-items:center;justify-content:center">
                                    <i class="fab fa-google-plus-g"></i>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

        <div class="d-none d-lg-block col-3" style="position:relative" [ngClass]="{'top': !isTop}">

            <div #side class="sticky-top" style="z-index:90">

                <div style="font-family: 'Oswald', sans-serif;margin-bottom:20px;font-weight:700;">
                    FEATURED
                </div>

                <div style="margin-bottom:20px;display:flex">
                    <img src="assets/01.jpg" style="height:110px;width:75px;object-fit:cover">
                    <div style="margin-left:15px">
                        <div style="color:#777;margin-bottom:7px">
                            Sandy
                        </div>
                        <div style="display:flex;font-size:12px;margin-top:5px">
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                        </div>
                        <div style="color:#465157;font-weight:500;margin-top:7px;margin-bottom:10px;font-size:15px;">
                            $1.400.000 - $1.500.000
                        </div>
                    </div>
                </div>

                <div style="margin-bottom:20px;display:flex">
                    <img src="assets/01.jpg" style="height:110px;width:75px;object-fit:cover">
                    <div style="margin-left:15px">
                        <div style="color:#777;margin-bottom:7px;margin-top:5px">
                            Sandy
                        </div>
                        <div style="display:flex;font-size:12px">
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                        </div>
                        <div style="color:#465157;font-weight:500;margin-top:7px;margin-bottom:10px;font-size:15px;">
                            $1.400.000 - $1.500.000
                        </div>
                    </div>
                </div>

                <div style="margin-bottom:20px;display:flex">
                    <img src="assets/01.jpg" style="height:110px;width:75px;object-fit:cover">
                    <div style="margin-left:15px">
                        <div style="color:#777;margin-bottom:7px;margin-top:5px">
                            Sandy
                        </div>
                        <div style="display:flex;font-size:12px">
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                            <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                        </div>
                        <div style="color:#465157;font-weight:500;margin-top:7px;margin-bottom:10px;font-size:15px;">
                            $1.400.000 - $1.500.000
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none d-lg-block col-9">
            <div
                style="margin-top:40px;margin-bottom:20px;border-bottom:1px solid #dae2e6;display:flex;font-size:13px;">
                <div
                    style="font-weight:700;border-bottom:2px solid slateblue;color:#444;padding:10px;margin-right:15px">
                    SIZE GUIDE
                </div>
                <div style="font-weight:700;color:#999;padding:10px;margin-right:15px">
                    INFORMACIÓN ADICIONAL
                </div>
                <div style="font-weight:700;color:#999;padding:10px;margin-right:15px">
                    VALORACIONES (0)
                </div>
            </div>
        </div>


        <div class="d-block d-lg-none col-12" style="padding:25px">

            <div style="margin-top:40px;margin-bottom:20px;font-size:14px;">
                <div
                    style="font-weight:700;border-bottom:2px solid slateblue;color:#333;padding:10px;margin-right:15px">
                    <i class="fas fa-angle-down" style="margin-right:5px"></i>
                    SIZE GUIDE
                </div>
                <div style="border-bottom:1px solid #eee;font-weight:700;color:#333;padding:10px;margin-right:15px">
                    <i class="fas fa-angle-down" style="margin-right:5px"></i>

                    INFORMACIÓN ADICIONAL
                </div>
                <div style="border-bottom:1px solid #eee;font-weight:700;color:#333;padding:10px;margin-right:15px">
                    <i class="fas fa-angle-down" style="margin-right:5px"></i>

                    VALORACIONES (0)
                </div>
            </div>
        </div>

    </div>
</div>


<div class="zona-productos-rel">

    <div
        style="margin-bottom:20px;padding-bottom:10px;display:flex;justify-content:space-between;border-bottom:1px solid #e1e1e1;">
        <div style="font-weight:700;">
            PRODUCTOS RELACIONADOS
        </div>
        <div style="display:flex;">
            <i class="far fa-dot-circle" style="color:slateblue;margin-right:5px"></i>
            <i class="far fa-circle" style="color:slateblue;opacity:0.7;margin-right:5px"></i>
            <i class="far fa-circle" style="color:slateblue;opacity:0.7;margin-right:5px"></i>
        </div>
    </div>



    <swiper [config]="config" [(index)]="index">

        <div *ngFor="let img of imgs; let i = index" (mouseenter)="holderMouse(i, 'enter')"
            (mouseleave)="holderMouse(i, 'leave')" style="width:100px">

            <div class="holder-img">

                <img (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave(i)" [src]="img.url" class="fade img-carrusel"
                    [ngClass]="{'img-carrusel-active': img.isHover}">

                <div class="mesure">
                    153 cm sexy doll
                </div>

                <a class="title">
                    Sandy
                </a>

                <div style="display:flex;font-size:12px;margin-top:5px">
                    <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                    <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                    <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                    <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                    <i class="fas fa-star" style="color:#D6D6D6;margin-right:2px"></i>
                </div>
                <div style="color:#465157;font-weight:500;margin-top:7px;margin-bottom:10px;font-size:18px;">
                    $1.400.000 - $1.500.000
                </div>
                <div (click)="openPage()" class="button" [ngClass]="{'button-active': img.isActive}">
                    <span class="d-none d-lg-block">SELECCIONAR OPCIONES</span>
                    <span class="d-block d-lg-none"><i class="fas fa-arrow-right" style="margin-right:10px"></i></span>

                </div>
            </div>

        </div>
    </swiper>





</div>